@import '../../breakpoints/breakpoints.scss';
@import 'include-media';

.experience-card-container {
    margin-top: 30px;
    box-shadow: 0px 0px 21px rgba(0,0,0,.25);
  }
  
  .experience-cards {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    @include media('<=tablet') {
      width: 90vw;
      padding: 15px;
    }

  }
  
  .inner {
    background: #f0f8ff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    
    @include media('<=phone') {
      padding: 15px;
      flex-direction: column;
      gap: 15px;
    }

  }
  
  .inner-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    h3 {
      font-size: 20px;
      color: #007fff;
    }
  
    h4 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
    }
  
    span {
      font-size: 16px;
    }

    @include media('<=phone') {
      width: 100%;

      h3 {
        font-size: 17px;
      }
      
      h4 {
        font-size: 14px;
      }

      span {
        font-size: 15px;
      }
    }
  }
  
  .inner-right {
    width: 70%;
    margin-left: 20px;
    line-height: 25px;

    @include media('<=phone') {
      margin-left: 0;
      width: 100%;
    }
  }