@import '../../breakpoints/breakpoints.scss';
@import 'include-media';

.resume-container {
  background: #ffebcd;
  display: flex;
  justify-content: center;
}

.resumee {
  width: 50%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  @include media('<=phone') {
    margin-top: 80px;
  }
}

.resume-title {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 40px;
  }
}

.experience {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

  button {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
    background: #007fff;
    color: white;
    font-weight: 700;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: .9;
    }
  }

  @include media('<=tablet') {
    width: 90vw;
  }

  h1 {
    font-size: 25px;
  }

  button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}