@import '../../breakpoints/breakpoints.scss';
@import 'include-media';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main {
    min-height: 100vh; 
    margin-inline: auto;
    display: flex; 
    flex-direction: column; 
}

.container {
    flex: 1; 
    display: flex;
    position: relative;
    height: auto;
}

.left-rect {
    width: 40%;
    height: auto;
    background: #f6d1a2;

    @include media('<=phone') {
        display: none;
    }
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: -200px;
    margin-top: 100px;
    margin-bottom: 100px;

    @include media('<=phone') {
        flex-direction: column;
        width: 90vw;
        margin: 80px 0;
        margin-inline: auto;
    }
}  