.main {
    width: 100%;
}

.left-rect {
    width: 40%;
    height: 100vh;
    background: #f6d1a2;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}

